<h1>Note Details</h1>
<div class='notepic'>
  <p>
    <%= image_tag @note.picture.url %>
  </p>
</div>
<!-- <p> @note.image を右側に表示 </p> -->
<p>Brand: <%= link_to @note.fragrance.brand.name, fragrance_path(@note.fragrance.brand.id) %></p>
<p>Fragrance: <%= link_to @note.fragrance.name, fragrance_path(@note.fragrance.id) %></p>

<!-- purchase の情報をおきたい。 -->
<!-- 一人のuser, 一つの香水の組み合わせに対して、noteはいくらでも作成できるが、purchaseは一つだけしか作成できないようにしたい。中間テーブル？ -->

<p>Weather: <%= @note.weather %></p>
<p>Humidity: <%= @note.humidity %></p>
<p>Point: <%= @note.point %></p>
<p>Layering: <%= @note.layerd %></p>
<p>Scene: <%= @note.scene %></p>
<p>Want?: <%= @note.want ? 'Yes' : 'No' %></p>
<p>labels:
  <% if @labels.present? %>
    <% @labels.each do |label| %>
      <%= label.name %>
    <% end %>
  <% end %>
</p>
<p>content: <%= @note.content %></p>
<p>user: <%= link_to @note.user.name, user_path(@note.user.id) %>

<% if current_user.present? && current_user.id == @note.user.id %>
  <p><%= link_to "Edit Note", edit_note_path(@note.id) %></p>
  <p><%= link_to 'Delete', @note, method: :delete, data: { confirm: 'Are you sure?' } %></p>
<% end %>

<p>Comments Index</p>

<div id="comments_area">
  <%= render partial: 'comments/index', locals: { comments: @comments, note: @note } %>
</div>
<% if current_user.present? %>
  <%= render partial: 'comments/form', locals: { comment: @comment, note: @note } %>
<% end %>
