<h1>Note Details</h1>
<p>
  Image:
  <% if @note.picture.present? %>
    <%= image_tag @note.picture.url %>
  <% end %>
</p>
<!-- <p> @note.image を右側に表示 </p> -->
<p>Brand: <%= link_to @note.fragrance.brand.name, fragrance_path(@note.fragrance.brand.id) %></p>
<p>Fragrance: <%= link_to @note.fragrance.name, fragrance_path(@note.fragrance.id) %></p>

<!-- purchase の情報をおきたい。 -->
<!-- 一人のuser, 一つの香水の組み合わせに対して、noteはいくらでも作成できるが、purchaseは一つだけしか作成できないようにしたい。中間テーブル？ -->

<p>Weather: <%= @note.weather %></p>
<p>Humidity: <%= @note.humidity %>%</p>
<p>Point: <%= @note.point %></p>
<p>Layering: <%= @note.layerd %></p>
<p>Scene: <%= @note.scene %></p>
<p>Want?: <%= @note.want %></p>

<p>Content: <%= @note.content %></p>
<% if current_user.id == @note.user.id %>
  <p><%= link_to "Edit Note", edit_note_path(@note.id) %></p>
  <p><%= link_to 'Delete', @note, method: :delete, data: { confirm: 'Are you sure?' } %></p>
<% end %>

<p>コメント一覧</p>

<div id="comments_area">
  <%= render partial: 'comments/index', locals: { comments: @comments, note: @note } %>
</div>
<%= render partial: 'comments/form', locals: { comment: @comment, note: @note } %>
