<div class="each-index col-md-offset-2">
  <h1>Fragrance Index</h1>


  <%= search_form_for @q do |f| %>
    <%# ブランド名でも検索できるようにしたい %>
    <%= f.label :name, "Name Search" %>
    <%= f.search_field :name_cont %>

    <%= f.submit "検索" %>
  <% end %>
  <br>
  <% @fragrances.each do |fragrance| %>
    <div>
      <!-- 左のブロック -->
      <% if fragrance.image.present? %>
        <%= image_tag fragrance.image.url %>
      <% end %>
      <!-- 右のブロック -->
      <%= fragrance.brand.name %>
      <%= link_to fragrance.name, fragrance_path(fragrance.id) %>
      <%= fragrance.release %>
      ¥<%= fragrance.price.to_s(:delimited) %> -(税別)
    </div>
  <% end %>
  <br>
  <% if current_user.present? && current_user.admin? %>
    <%= link_to "香水作成画面", new_admin_fragrance_path %>
  <% end %>
</div>
