<h1><%= @fragrance.name %></h1>
<!-- imageがない時用のimageを表示させたい。デフォルトで設定？ -->
<% if @fragrance.image.present? %>
  <%= image_tag @fragrance.image.url %>
<% end %>
<p>説明: <%= @fragrance.description %></p>
<p>ブランド: <%= link_to @fragrance.brand.name, brand_path(@fragrance.brand.id) %></p>
<p>調香師: <%#= link_to @fragrance.perfumer.name, fragrance_path(@fragrance.perfumer.id) %></p>
<p>名前: <%= @fragrance.name %></p>
<p>本体価格: ¥<%= @fragrance.price.to_s(:delimited) %>-</p>
<p>生産国: <%= @fragrance.country_of_origin %></p>
<p>URL: <%= @fragrance.URL %></p>



<!-- この香水に関するnote最新三つを表示できるようにする -->



<p><%= link_to '香水一覧', fragrances_path %>
<% if current_user.present? && current_user.admin? %>
  <p><%= link_to "香水編集画面", edit_admin_fragrance_path(@fragrance.id) %></p>
<% end %>
