<div class='container'>
  <h1>My Page</h1>

  <div class='usericon'>
    <p><%= image_tag(@user.icon.url) %></p>
  </div>
  <p>name: <%= @user.name %></p>
  <p>Signature Fragrance: <%= Fragrance.find(@user.signature_fragrance_id).name if @user.signature_fragrance_id.present? %></p>
  <p>Sex:<%= @user.sex %></p>
  <p>Age:<%= @user.age %></p>
  <p>Live:<%= @user.prefecture %></p>

  Favorites





  <% if current_user.present? && current_user.id == @user.id %>
    <p><%= link_to "Edit Profile", edit_user_registration_path  %></p>
  <% end %>
  <% if current_user.present? && current_user.id == @user.id %>
    <%= link_to "Create Note", new_note_path %>
  <% end %>
  <%#= link_to "投稿一覧", pictures_path %>
  <%#= link_to "お気に入り一覧", favorites_path %>
</div>
