<h1><%= @user.name %>'s Profile</h1>

<% if @user.icon.present? %>
  <p><%= image_tag @user.icon.url %></p>
<% end %>
<p>メールアドレス: <%= @user.email %></p>

<% if current_user.id == @user.id %>
  <p><%= link_to "Edit Profile", edit_user_registration_path  %></p>
<% end %>
<!-- <table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Image</th>
      <th>Content</th>
    </tr>
  </thead>

  <tbody> -->
    <%# @user.pictures.each do |picture| %>
      <!-- <tr>
        <td><%#= picture.title %></td>
        <td><%#= image_tag picture.image.url %></td>
        <td><%#= picture.content %></td>
        <td><%#= link_to '詳細', picture %></td>
        <%# if current_user.id == picture.user.id %>
          <td><%#= link_to '編集', edit_picture_path(picture) %></td>
          <td><%#= link_to '削除', picture, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <%# end %>
      </tr>
    <%# end %>
  </tbody>
</table>
<br> -->
<%= link_to "Create Note", new_note_path %>
<%#= link_to "投稿一覧", pictures_path %>
<%#= link_to "お気に入り一覧", favorites_path %>
