<h1><%= @user.name + '詳細' %></h1>


<p>メールアドレス：<%= @user.email %></p>
<p>管理者権限：<%= @user.admin ? '有' : '無' %></p>
<p>投稿数：<%= @user.notes.length %></p>
<table>
  <tr>
    <th>香水名</th>
    <th>記録</th>
    <th>日付</th>


  </tr>
<% @notes.each do |note| %>
  <tr>
    <td class="note-index__title"><%= note.fragrance.name %></td>
    <td><%= note.content %></td>
    <td><%= note.date %></td>
  <tr>
<% end %>
</table>

<br>
<p><%= link_to '編集する', edit_admin_user_path(@user.id) %></p>
<p><%= link_to 'ユーザー一覧', admin_users_path %></p>
